<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/formulario.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    @RenderSection("css", false)
</head>
<body>
    <div class="page">
        <header>
            <nav>
                @Html.ActionLink("Sair do sistema", "Logout", "Usuario")
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    @RenderSection("js", false)
</body>
</html>
