<div id="login-form">
    <div style="float:left; margin-right: 30px;">
        <h2>
            Acesso do usuário</h2>
        @Html.Partial("~/Views/Shared/ErrosPartial.cshtml")
        <div id="mensagem">
        </div>
        <div class="editor-label">
            @Html.Label("Login ( usuario / email )")
        </div>
        <div class="editor-field">
            @Html.TextBox("login", null, new { @id = "txtLogin" })
        </div>
        <div class="editor-label">
            @Html.Label("Senha")
        </div>
        <div class="editor-field">
            @Html.Password("senha", null, new { @id = "txtSenha" })
        </div>
        <br />
        <input id="btnLogin" class="button orange" type="submit" value="Entrar" style="width: 80px;" />
    </div>
    <div style="margin-right: 30px">
        <h1>
            Não possue uma conta? Cadastre-se!
        </h1>
        <p>
            @Html.ActionLink("Cadastre-se", "Create", "Usuario")
            em nosso site e tenha um repositório de seus arquivos xml de suas NFes, sem burocracia
            e sem cadastros excessivos. Não perca tempo nem dinheiro e garanta a segurança dos
            seus dados de suas notas fiscais eletrônicas.
        </p>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnLogin").click(function () {

            $.post(
            "/usuario/login",
            {
                login: $("#txtLogin").val(),
                senha: $("#txtSenha").val()
            },
            function (data) {
                if (!data.success) {
                    alert("Acesso negado: Login e senha não conferem");
                    $("#txtLogin").val("");
                    $("#txtSenha").val("");
                    $("#txtLogin").focus();
                }
                else {
                    document.location.href = "../usuario/index";
                }
            });

        });
    });
</script>
